---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<h1 class="dark:text-white text-slate-700 font-bold text-[3rem] ">Hola</h1>
	<button id="tocame" >
		Tocame
	</button>
</Layout>

<script is:inline>
	const btn = document.getElementById("tocame")
	btn?.addEventListener("click", ()=>{
		alert("Hola Si funciona el button")
	})
</script>

